{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
    {% block nompage %}Virements{% endblock %}
    <div class="content-body">
        <div class="container-fluid">

            <!-- row -->

            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Virement</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>

                                        <th><strong>N° de Compte</strong></th>
                                        <th><strong>Nom et Prenom</strong></th>
                                        <th><strong>Email</strong></th>
                                        <th><strong>Type de Virement</strong></th>
                                        <th><strong>Transférez A </strong></th>
                                        <th><strong>Numéro de Bénéficiaire</strong></th>
                                        <th><strong>Montant</strong></th>
                                        <th><strong>Actions</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td><strong>542448789989</strong></td>
                                        <td>
                                            <div class="d-flex align-items-center"><img
                                                        src="images/avatar/1.jpg" class="rounded-lg me-2" width="24"
                                                        alt=""> <span class="w-space-no">Yesser khaloui</span></div>
                                        </td>
                                        <td>exemple@exemple.com </td>
                                        <td>Écoresponsabilité</td>
                                        <td>shayma ouerhani</td>
                                        <td>
                                            <div class="d-flex align-items-center">99652367614</div>
                                        </td>
                                        <td>30,000</td>


                                        <td>
                                            <div class="d-flex">
                                                <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="bi bi-check-lg"></i></a>
                                                <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><strong>542597887876</strong></td>
                                        <td>
                                            <div class="d-flex align-items-center"><img
                                                        src="images/avatar/2.jpg" class="rounded-lg me-2" width="24"
                                                        alt=""> <span class="w-space-no">Shayma Ouerhani</span>
                                            </div>
                                        </td>
                                        <td>exemple@exemple.com </td>
                                        <td>Personne</td>
                                        <td>shyheb ouerhani</td>
                                        <td>
                                            <div class="d-flex align-items-center">97890763737</div>
                                        </td>
                                        <td>90,000</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="bi bi-check-lg"></i></a>
                                                <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td><strong>542788787945</strong></td>
                                        <td>
                                            <div class="d-flex align-items-center"><img
                                                        src="images/avatar/3.jpg" class="rounded-lg me-2" width="24"
                                                        alt=""> <span class="w-space-no">Mariem Mhamdi</span></div>
                                        </td>
                                        <td>exemple@exemple.com </td>
                                        <td>Personne</td>
                                        <td>shyheb ouerhani</td>
                                        <td>
                                            <div class="d-flex align-items-center">277775896413</div>
                                        </td>
                                        <td>90,000</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="bi bi-check-lg"></i></a>
                                                <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
