{% extends 'index.html.twig' %}
{% block title %} Recrutement {% endblock %}
{% block stylsheet %}

{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/demande.css') }}">
    <body class="body" style=" background: linear-gradient(90deg, rgba(61, 66, 66, 0.9) 0%, rgb(66, 70, 68) 15%, rgb(75,100,88) 50%,rgb(86,162,124) 75%);">
    <div  style="background: #d4e3da; margin-top: 200px;margin-right: 200px;margin-left: 200px;border-radius: 30px">
        <h4 class="text-center" style="padding-top: 10px">{{ offre.title }}</h4>
        <div class="mb-3" style="padding: 20px">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    </body>
{% endblock %}