{% extends 'index.html.twig' %}
{% block title %} Recrutement {% endblock %}
{% block stylsheet %}

{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/demande.css') }}">
    <body class="body">
    <div class="container-fluid">



    </div>
    </body>

{% endblock %}