.user-profile {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.profile-picture {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #0000001a;
}

.profile-details {
    flex: 1 1 auto;
}

.profile-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 16px;
    margin-bottom: 5px;
}