{% extends 'baseclient.html.twig' %}

    {% block body %}
        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo rounded"></div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-photo">
                                <img src="images/profile/profile.png" class="img-fluid rounded-circle" style="max-width: 150px;" alt="">
                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">Soeng Souy</h4>
                                    <p>UX / UI Designer</p>
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">hello@email.com</h4>
                                    <p>Email</p>
                                </div>
                                <div class="dropdown ms-auto">
    <a href="{{path('app_ajouterrdv')}}" class="btn btn-primary light sharp rounded-pill">
        demander une rdv
    </a>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-statistics">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col">
                                                <h3 class="m-b-0">MON ID</h3><span>12345678</span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">MONTANT</h3><span>4200</span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">MONTANTRESTANT</h3><span></span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">date_d</h3><span>12-01-2023</span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">status</h3><span>1200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
    